body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  opacity: 40%;
}

/* Other Classes for Page Styling */
body {
  background: #087fff;
  background: linear-gradient(to left, #d6d6d6, #51b9ff);
}
.container-fluild {
    align-content: center;
}
.img {
    padding: 100%;
    margin: auto;

}