
* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
body {
  height: 100%;
  color: white;
  font-weight: bold;
}
.dark-mode {
  filter: invert(100%);
}
#h2 {
  font-weight: bolder;
  font-size: 40px;
}
#page-content {
  flex: 1 0 auto;
}
.footer {
  opacity: 90%;
}
#sticky-footer {
  color: black;
  margin-bottom: 25px;
  opacity: 60%;
  background-color: rgba(0, 0, 0, 0);
}
.float-left {
  margin: 25px;
}
.backgroundImg {
  /* background-image: url(https://source.unsplash.com/user/erondu/1600x911); */
  background-color: rgba(148, 148, 148, 0.603);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;

  opacity: 90%;
  padding: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.navbar {
  font-weight: bolder;
  
}
#bottom_fade {
	z-index: 99;
	position: fixed;
	bottom: 0%;
	background-image: url("bottom-fade.png");
}


/* .flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
} */
/* Other Classes for Page Styling */
body,.css-selector, .navbar, .jumbotron {
  background: linear-gradient(88deg, #51b9ff, #5dbcd2);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  -webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500%;
  margin-bottom: 50px;
  padding: 15px;
  height: 300px;
  object-fit: contain;
}
.skills {
  padding-left: 30px;
}
.skill {
  margin-bottom: 10px;
}
.progress {
  width: 100%;
  height: 12px;
  border-radius: 12px;
}
.progress-bar {
  height: 11px;
  background: #ff7d6f;
  border-radius: 11px;
}
.p1 {
  width: 70%;
}

.p2 {
  width: 70%;
}

.p3 {
  width: 50%;
}
.p4 {
  width: 40%;
}
.progress-bar span {
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #fff;
  font-size: 12px;
}
#pageFooter {
  background-color: black;
}
@media only screen and (max-width: 480px){
  .img{
      height:auto !important;
      max-width:60px !important;
      width: 100% !important;
  }
}

.jumbotron {
  text-align: center;
  background: #1a2a6c;  /* fallback for old browsers */
 
  background: -webkit-linear-gradient(to right,#d6d6d6, #51b9ff);  /* Chrome 10-25, Safari 5.1-6 */
 
  background: linear-gradient(to right,  #51b9ff,#d6d6d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
 
  color: rgba(32, 32, 32, 0.781);

}
hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}
.display-4 {
  font-weight: bold;
}

.list-unstyled {
  color: white;
}
a {
  color: blue;
}
a:hover {
  color: pink;
}
#htmlIcon {
  color: red;
}
#cssIcon {
  color: blue;
}
#jsIcon {
  color: yellow;
}

@media (min-width: 768px) {
  .col-md-8 {
    margin: auto;
  }

  .img {
    padding: 70px;
  }
  .img-thumbnail {
    padding-right: 10px;
    padding-left: 10px;
  }
  .button {
    align-content: center;
  }
}
@media (max-width: 600px) {
  .img {
    width: 100px;
    align-content: center;
  }
  
}

/* @media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... } */
