* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
body {
  height: 100%;
  color: #bab2b5;
  font-weight: bold;
}
#h2 {
  font-weight: bolder;
  font-size: 40px;
}
#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  /* opacity: 40%; */
  color: black;
  margin-bottom: 25px;
  opacity: 60%;
  background-color: rgba(0, 0, 0, 0.6);
}
.float-left {
  margin: 25px;
}
.backgroundimg {
  background-image: url(img/OLIVER.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;

  opacity: 90%;
  padding: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}
/* Other Classes for Page Styling */
body {
  background: linear-gradient(to left, #d6d6d6, #51b9ff);
}
.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500%;
  margin-bottom: 50px;
  padding: 15px;
  height: 300px;
  object-fit: contain;
}
.skills {
  padding-left: 30px;
}
.skill {
  margin-bottom: 10px;
}
.progress {
  width: 100%;
  height: 12px;
  border-radius: 12px;
}
.progress-bar {
  height: 11px;
  background: #ff7d6f;
  border-radius: 11px;
}
.p1 {
  width: 60%;
}

.p2 {
  width: 40%;
}

.p3 {
  width: 20%;
}
.progress-bar span {
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #fff;
  font-size: 12px;
}

@media (min-width: 768px) {
  .col-md-8 {
    margin: auto;
  }

  .img {
    padding: 70px;
  }
  .img-thumbnail {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 600px) {
  .img {
    width: 100px;
    align-content: center;
  }
}

/* @media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... } */
